# Global Configuration
GLOBAL_NAME=kong
RESTART_POLICY=unless-stopped
TIMEZONE=Asia/Bangkok
HEALTHCHECK_INTERVAL=10s
HEALTHCHECK_TIMEOUT=5s
HEALTHCHECK_RETRIES=5

# Postgres Configuration
POSTGRES_CONTAINER_NAME=postgres_db
POSTGRES_IMAGE_NAME=docker.io/postgres
POSTGRES_IMAGE_VERSION=16.1-alpine
POSTGRES_PORT=5432
POSTGRES_ROOT_PASSWORD=kong
POSTGRES_USER=kong
POSTGRES_PASSWORD=kong
POSTGRES_DATABASE=kong

# Kong Configuration
KONG_CONTAINER_NAME=kong_app
KONG_IMAGE_NAME=docker.io/kong
KONG_IMAGE_VERSION=3.4.2
KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443
KONG_ADMIN_HTTP_PORT=8001
KONG_ADMIN_HTTPS_PORT=8444
KONG_MIGRATIONS_CONTAINER_NAME=kong_migrations
KONG_DATABASE=postgres
KONG_PG_HOST=postgres
KONG_PG_USER=kong
KONG_PG_PASSWORD=kong
KONG_CASSANDRA_CONTACT_POINTS=postgres
KONG_PROXY_ACCESS_LOG=/dev/stdout
KONG_ADMIN_ACCESS_LOG=/dev/stdout
KONG_PROXY_ERROR_LOG=/dev/stderr
KONG_ADMIN_ERROR_LOG=/dev/stderr
KONG_ADMIN_LISTEN=0.0.0.0:8001, 0.0.0.0:8444 ssl
KONG_LC_CTYPE=en_US.UTF-8
KONG_LC_ALL=en_US.UTF-8

# Konga Configuration
KONGA_CONTAINER_NAME=konga_app
KONGA_IMAGE_NAME=docker.io/pantsel/konga
KONGA_IMAGE_VERSION=latest
KONGA_HTTP_PORT=1337
KONGA_NODE_ENV=production
KONGA_DB_ADAPTER=postgres
KONGA_DB_HOST=postgres
KONGA_DB_USER=kong
KONGA_DB_PASSWORD=kong
KONGA_DB_DATABASE=kong
KONGA_DB_PORT=5432